@charset "UTF-8";

@import url(./assets/style/variable.css);

.btn {
  display: flex;
  align-items: center;
}

/*main 첫 번째 섹션(곰돌이 얼굴 움직이는 page)*/

header .menu_wrapper_box {
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  position: absolute;
  z-index: 99999;
  width: 100%;
  height: 120px;
}
header .menu_wrapper_list {
  width: 100%;
  height: 820px;
  background-color: var(--color-pink);
  position: absolute;
  top: -120px;
  z-index: 9999;
  padding: 300px 0 0 120px;
}
header .menu_wrapper_list li {
  font-family: var(--en-font);
  font-size: 100px;
  padding-bottom: 50px;
  width: 450px;
}
header .menu_wrapper_list li a {
  position: relative;
  z-index: 999;
}

header .menu_wrapper_list li:nth-child(1) svg {
  position: absolute;
  top: 275px;
  left: 45px;
}
header .menu_wrapper_list li:nth-child(2) svg:nth-child(1) {
  position: absolute;
  top: 420px;
  left: 465px;
}
header .menu_wrapper_list li:nth-child(2) svg:last-child {
  position: absolute;
  top: 540px;
  left: 19px;
}
header .menu_wrapper_list li:nth-child(3) svg:first-of-type {
  position: absolute;
  top: 745px;
  left: 115px;
}
header .menu_wrapper_list li:nth-child(3) svg:last-of-type {
  position: absolute;
  top: 745px;
  left: 150px;
}
header .menu_wrapper_list li:nth-child(1) svg path {
  stroke-dasharray: 1184;
  stroke-dashoffset: 1184;
  transition: 1s;
}
header .menu_wrapper_list li:nth-child(1) a:hover svg path {
  stroke-dashoffset: 0;
}
header .menu_wrapper_list li:nth-child(2) svg:nth-child(1) path {
  stroke-dasharray: 343;
  stroke-dashoffset: 343;
  transition: 1s;
}
header .menu_wrapper_list li:hover:nth-child(2) svg:nth-child(1) path {
  stroke-dashoffset: 0;
}
header .menu_wrapper_list li:nth-child(2) svg:last-child path {
  stroke-dasharray: 512;
  stroke-dashoffset: 512;
  transition: 1s;
}
header .menu_wrapper_list li:hover:nth-child(2) svg:last-child path {
  stroke-dashoffset: 0;
}
header .menu_wrapper_list li:nth-child(3) svg:first-of-type path {
  stroke-dasharray: 56;
  stroke-dashoffset: 56;
  transition: 1s;
}
header .menu_wrapper_list li:hover svg:first-of-type path {
  stroke-dashoffset: 0;
}
header .menu_wrapper_list li:nth-child(3) svg:last-of-type path {
  stroke-dasharray: 406;
  stroke-dashoffset: 406;
  transition: 1s;
}
header .menu_wrapper_list li:hover:nth-child(3) svg:last-of-type path {
  stroke-dashoffset: 0;
}
/*----- main ------*/
main {
  font-family: var(--ko-font);
}

/*--- main 첫 번째 섹션(곰돌이 얼굴 움직이는 page) ---*/

main .welcome {
  height: 830px;
  line-height: 75px;
  padding: 0 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 100px;
}

main .welcome .teddy_img {
  z-index: 9;
}

main .welcome .container .ear1,
main .welcome .container .face,
main .welcome .container .ear2 {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 99;
  transition: transform 4s ease-in-out;
}

main .welcome .container .ear1 {
  top: 25%;
  left: 38%;
  transform: translate(-200%, -200%);
}

main .welcome .container .face {
  top: 50%;
  left: 50%;
  transform: translate(-200%, 100%);
}

main .welcome .container .ear2 {
  top: 25%;
  left: 62%;
  z-index: -99;
  transform: translate(100%, -300%);
}

main .welcome .container .ear1.move,
main .welcome .container .face.move,
main .welcome .container .ear2.move {
  transform: translate(-50%, -50%) rotate(360deg);
}

main .welcome .container .ear1 {
  width: 174px;
  height: 160px;
}

main .welcome .container .face {
  width: 532px;
  height: 467px;
}

main .welcome .container .ear2 {
  width: 174px;
  height: 160px;
}
main .welcome .container .welcome_txt {
  width: 100%;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .welcome .container .welcome_txt h2 {
  text-align: center;
}
main .welcome .deco {
  width: 100px;
  position: absolute;
  bottom: -10%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

/*--- main main 두 번째 섹션(About 페이지) ---*/
main .about {
  padding-top: 300px;
  height: 860px;
  position: relative;
}
main .about > p {
  text-align: center;
  font-size: 54px;
  line-height: 115%;
}

main .about .btn {
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 100px;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  font-size: var(--size-font24);
  overflow: hidden;
  z-index: 1;
}

main .about .btn:after {
  content: "";
  position: absolute;
  bottom: auto;
  border-radius: 3.125rem;
  background-color: var(--color-gray);
  width: 100%;
  left: 0;
  height: 0;
  transition: 0.5s;
  z-index: -1;
  top: 0;
}
main .about .btn:hover {
  color: black;
  transition: linear 2s;
}
main .about .btn:hover:after {
  transition: height 0.5s linear;
  height: 100%;
}

main .about .keep {
  width: 100px;
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -20%;
  transform: translate(-50%, -50%);
}

/*--- main 세 번째 섹션(assets 페이지) ---*/
main .location {
  margin-top: 340px;
  height: 1200px;
  font-family: var(--ko-font);
  overflow: hidden;
}
main .location .txt p {
<<<<<<< HEAD
  padding-left: 9rem;
=======
  /* padding-left: 144px; */
  margin-left: 9.5rem;
>>>>>>> b3238aa52fce31b856cf9cde1844f2bc61732d63
  font-family: var(--ko-font);
  font-size: 21px;
}

main .location .location_theme {
  justify-content: space-around;
  gap: 4.375rem;
  align-items: center;
}
main .location .location_theme .title2 {
  font-size: 86px;
  font-weight: normal;
  text-align: left;
}
main .location .location_theme .location_txt p:nth-child(1) {
  font-family: var(--ko-font);
  font-size: 21px;
}
main .location .location_theme .location_txt p:nth-child(2) {
  font-family: var(--en-font);
  font-size: 21px;
  margin-top: 22px;
  padding-left: 10px;
  font-weight: 900;
  position: relative;
}
main .location .location_theme .location_txt p:nth-child(2):before {
  content: "";
  background-color: var(--color-pink);
  width: 5px;
  height: 33px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

<<<<<<< HEAD
/*--- swiper ---*/
main .location .mySwiper {
  height: 100vh;
  overflow: hidden;
}

main .location .mySwiper .swiper-wrapper {
  width: 400%;
}

main .mySwiper .swiper-wrapper .swiper-slide {
=======
main .location .swiper {
  height: 100%;
  margin-left: 150px;
}

main .location .swiper .swiper-wrapper .swiper-slide {
>>>>>>> b3238aa52fce31b856cf9cde1844f2bc61732d63
  width: 100%;
}
main .mySwiper .swiper-wrapper .swiper-slide .swiper_box {
  flex-direction: column;
<<<<<<< HEAD
=======
  justify-content: center;
  align-items: flex-start;
  margin-right: 20px;
>>>>>>> b3238aa52fce31b856cf9cde1844f2bc61732d63
}
/*- swiper-img -*/
main .mySwiper .swiper-wrapper .swiper-slide .swiper_box .swiper_img1,
main .mySwiper .swiper-wrapper .swiper-slide .swiper_box .swiper_img2,
main .mySwiper .swiper-wrapper .swiper-slide .swiper_box .swiper_img3,
main .mySwiper .swiper-wrapper .swiper-slide .swiper_box .swiper_img4 {
  width: 950px;
  height: 550px;
<<<<<<< HEAD
}
main .mySwiper .swiper-wrapper .swiper-slide .swiper_box .swiper_img1 {
  background: url(./images/slide1.png) no-repeat;
}
main .mySwiper .swiper-wrapper .swiper-slide .swiper_box .swiper_img2 {
  background: url(./images/slide1.png) no-repeat;
}
main .mySwiper .swiper-wrapper .swiper-slide .swiper_box .swiper_img3 {
  background: url(./images/slide1.png) no-repeat;
}
main .mySwiper .swiper-wrapper .swiper-slide .swiper_box .swiper_img4 {
  background: url(./images/slide1.png) no-repeat;
=======
  object-fit: cover;
>>>>>>> b3238aa52fce31b856cf9cde1844f2bc61732d63
}
main .location .swiper .swiper-wrapper .swiper-slide .box_txt {
  padding-top: 30px;
}
main .location .swiper .swiper-wrapper .swiper-slide .box_txt p:nth-child(1) {
  font-family: var(--ko-font);
  font-size: 33px;
}
main .location .swiper .swiper-wrapper .swiper-slide .box_txt p:nth-child(2) {
  margin-top: 15px;
  font-family: var(--ko-font);
  font-size: 21px;
}

/*--- main 네 번째 섹션(장식 페이지) ---*/
main .animation {
  position: relative;
}
main .animation .zookeeper p {
  font-family: var(--ko-font);
  font-size: 21px;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .animation .zookeeper {
  height: 935px;
  background-color: #f0f0f0;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main .animation .where {
  height: 800px;
  text-align: center;
  background-color: #ffad99;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .animation .where > p {
  font-family: var(--ko-font);
  font-size: 48px;
  line-height: 115%;
}

main .animation .where .btn {
  margin-top: 77px;
  background-color: var(--color-white);
  color: black;
  font-size: var(--size-font24);
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

main .animation .where .btn:after {
  content: "";
  position: absolute;
  bottom: auto;
  border-radius: 3.125rem;
  background-color: black;
  width: 100%;
  left: 0;
  height: 0;
  transition: 0.5s;
  z-index: -1;
  top: 0;
}
main .animation .where .btn:hover {
  color: rgb(255, 255, 255);
  transition: linear 2s;
}
main .animation .where .btn:hover:after {
  transition: height 0.5s linear;
  height: 100%;
}

/*--- main 다섯 번째 섹션(Teddy Bear 페이지) ---*/
main .bigfont {
  width: 100%;
  height: 800px;
  margin-top: 209px;
  text-align: center;
}

main .bigfont .img_box {
  position: relative;
  z-index: 999;
}
main .bigfont img {
  width: 279px;
  height: 87px;
}
main .bigfont .img_box p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  font-family: var(--ko-font);
  font-size: 24px;
}
main .bigfont .teddy {
  margin-top: 92px;
  font-size: 260px;
  text-align: center;
}
/*--- main 여섯 번째 섹션(스케줄 페이지) ---*/
main .schedule {
  height: 910px;
}
main .schedule .txt {
  text-align: center;
}
main .schedule .txt p {
  margin-top: 60px;
  margin-bottom: 47px;
  font-family: var(--ko-font);
  font-size: 21px;
}
main .schedule .wrapper {
  flex-direction: row;
  justify-content: space-around;
}
main .schedule .wrapper img {
  width: 460px;
  height: 320px;
}

main .schedule .wrapper .img_box {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
main .schedule .wrapper .img_box .box_txt {
  height: 100%;
  padding-left: 21px;
}
main .schedule .wrapper .img_box p:nth-child(1) {
  margin-top: 30px;
  font-family: var(--ko-font);
  font-size: var(--size-font24);
}
main .schedule .wrapper .img_box p:nth-child(2) {
  margin-top: 15px;
  margin-bottom: 26px;
  font-family: var(--ko-font);
  font-size: 21px;
}
main .schedule .btn {
  margin: 153px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
}
main .schedule .btn {
  overflow: hidden;
  z-index: 1;
}

main .schedule .btn:after {
  content: "";
  position: absolute;
  bottom: auto;
  border-radius: 3.125rem;
  background-color: var(--color-gray);
  width: 100%;
  left: 0;
  height: 0;
  transition: 0.5s;
  z-index: -1;
  top: 0;
}
main .schedule .btn:hover {
  color: black;
  transition: linear 2s;
}
main .schedule .btn:hover:after {
  transition: height 0.5s linear;
  height: 100%;
}

main .schedule .btn a {
  font-family: var(--ko-font);
  font-size: 24px;
}
/*----- footer ------*/
footer .flex .btn {
  overflow: hidden;
  z-index: 1;
  position: relative;
}

footer .flex .btn:after {
  content: "";
  position: absolute;
  bottom: auto;
  border-radius: 3.125rem;
  background-color: var(--color-gray);
  width: 100%;
  left: 0;
  height: 0;
  transition: 0.5s;
  z-index: -1;
  top: 0;
}
footer .flex .btn:hover {
  color: black;
  transition: linear 2s;
}
footer .flex .btn:hover:after {
  transition: height 0.5s linear;
  height: 100%;
}
