@charset "utf-8";
@import url(../assets/style/variable.css);

.title_wrapper {
  padding: 0 2%;
  text-align: center;
  padding-top: 210px;
}
.title_wrapper .title_wrapper_ani {
  width: 720px;
  height: 400px;
  padding-top: 92px;
  background: url(./images/hi.gif) no-repeat 50% / cover;
  margin: 0 auto;
}
.title_wrapper .deco {
  padding-top: 21px;
}
