@font-face {
  font-family: "Helvetica";
  src: url(../fonts/Helvetica-95-Black.woff);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Batang";
  src: url(../fonts/Batang_Regular.woff);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Batang";
  src: url(../fonts/Batang_Bold.woff);
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
