@charset "utf-8";

@font-face {
<<<<<<< HEAD
  font-family: "Helvetica";
  src: url(../fonts/Helvetica-95-Black.woff);
=======
  font-family: 'Helvetica95';
  src: url('../fonts/Helvetica_Black.woff2') format('woff2');
>>>>>>> 1a2cfb701d048f73e3d616d41af4e11352418b18
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
<<<<<<< HEAD
  font-family: "Batang";
  src: url(../fonts/Batang_Regular.woff);
=======
  font-family: 'Gyeonggi';
  src: url('../fonts/경기천년바탕_Regular.woff2') format('woff2');
>>>>>>> 1a2cfb701d048f73e3d616d41af4e11352418b18
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
<<<<<<< HEAD
  font-family: "Batang";
  src: url(../fonts/Batang_Bold.woff);
=======
  font-family: 'Gyeonggi';
  src: url('../fonts/경기천년바탕_Bold.woff2') format('woff2');
>>>>>>> 1a2cfb701d048f73e3d616d41af4e11352418b18
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
