@charset "utf-8";

/* 공통 스타일 */

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

span {
  display: block;
}

/* header */
header {
  padding: 0 2%;
  justify-content: space-between;
  padding-top: 27px;
}

header .menu_wrapper_list {
  display: none;
}

header h1,
.menu_wrapper_nav {
  font-family: var(--ko-font);
  font-size: 3.125rem;
  font-weight: bold;
  line-height: normal;
  letter-spacing: -5px;
}

/* footer */
footer {
  padding: 0 10%;
  margin-top: 370px;
  font-family: var(--ko-font);
  font-size: 21px;
}
footer .gnb {
  align-items: flex-start;
  justify-content: space-between;
}
footer .gnb .company li:nth-child(1) {
  font-family: var(--en-font);
  font-size: 35px;
  padding: 0;
}
footer .gnb .company li:nth-child(2) {
  margin-top: 69px;
  font-family: var(--ko-font);
  font-size: 24px;
  font-weight: bold;
}
footer .gnb .gnb_box .subhead {
  font-size: 24px;
}
footer .gnb li {
  padding: 16px 0;
  font-family: var(--ko-font);
  font-size: 21px;
}

footer .site {
  margin-top: 150px;
  margin-bottom: 140px;
}
footer .site ul {
  justify-content: space-between;
  align-items: center;
}
footer .site ul .btn {
  width: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* h2 */
.title1 {
  font-family: var(--en-font);
  font-size: var(--size-font140);
  line-height: var(--size-font140);
  text-align: center;
}

/* h3 */
.title2 {
  font-family: var(--en-font);
  font-size: var(--size-font96);
  line-height: var(--size-font96);
  text-align: center;
}

/* 데코네임 */
.deco {
  font-family: var(--ko-font);
  font-size: var(--size-font24);
  font-weight: normal;
  text-align: center;
}
.deco::after {
  content: '';
  display: block;
  width: 2px;
  height: 48px;
  background-color: #000;
  margin: 10.5px auto;
}

/* 버튼 */
.btn {
  background-color: var(--color-pink);
  border-radius: 3.125rem;
  width: 15.3125rem;
  height: 6rem;
  font-family: var(--ko-font);
  font-weight: bold;
  text-align: center;
  color: #fff;
}
